@model List<Movimentacao>

@{
    ViewData["Title"] = "Movimentações";
}


<div class="row bg-secondary text-center py-3 mb-4 text-light">
    <div class="col-12">
        <h2>Lista de Movimentações</h2>
    </div>
</div>

<div class="row my-3 mb-4">
    <div class="col-12">
        <a asp-action="Create" asp-controller="Movimentacoes" class="btn btn-primary">Cadastrar Movimentação</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered text-center" id="tbMovimentacoes" style="height:50px;">
                <thead>
                    <tr>
                        <th style="width:5%;" class="text-center">Data</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Qtd</th>
                        <th class="text-center">Produto</th>
                        <th class="text-center">F. de Serviço</th>
                        <th class="text-center">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var produto in Model)
                    {
                        <tr>
                            <td>@produto.Data.ToString("dd/MM/yyyy")</td>
                            <td>@produto.TipoMovimentacao</td>
                            <td>@produto.Quantidade</td>
                            <td>@produto.Produto.Nome</td>
                            <td>@produto.FrenteServico.Nome</td>
                            <td class="d-flex justify-content-center align-items-center gap-3 h-auto">
                                <a asp-action="Edit" asp-controller="Movimentacoes" asp-route-id="@produto.Id" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                <a asp-action="Remove" asp-controller="Movimentacoes" asp-route-id="@produto.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tbMovimentacoes').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/pt-BR.json',
                },
                columnDefs: [
                    { "orderable": false, "targets": [5] }
                ],
                dom: 'Blfrtip', // Adicionando l para o botão de comprimento
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        customize: function (doc) {
                            doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                            doc.defaultStyle.alignment = 'center';
                        },
                        exportOptions: {
                            columns: [0, 1, 2, 3,4]
                        }
                    },
                    'lengthMenu' // Adicionando o botão de comprimento aqui
                ],
                lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'Tudo']
                ]
            });

            $('.btn-remover').click(function () {
                // Pedir ao usuário para digitar um código
                var codigo = prompt("Digite o código de confirmação:", "");

                // Verificar se o código digitado pelo usuário está correto
                if (codigo === "12456") { // Substitua "seuCodigoCorreto" pelo código desejado
                    // Submete o formulário associado ao botão clicado
                    $(this).closest('form').submit();
                } else {
                    // Mostrar mensagem de erro ou fazer qualquer outra coisa
                    alert("Código incorreto.");
                }
            });
        });
    </script>
}